pretrained/pretrained_c3d/c3d-pretrained.pth
pretrained/pretrained_mobilenet3D_v1/kinetics_mobilenet_0.5x_RGB_16_best.pth
pretrained/pretrained_mobilenet3D_v1/kinetics_mobilenet_1.0x_RGB_16_best.pth
pretrained/pretrained_mobilenet3D_v1/kinetics_mobilenet_1.5x_RGB_16_best.pth
pretrained/pretrained_mobilenet3D_v1/kinetics_mobilenet_2.0x_RGB_16_best.pth
pretrained/pretrained_mobilenet3D_v2/kinetics_mobilenetv2_0.2x_RGB_16_best.pth
pretrained/pretrained_mobilenet3D_v2/kinetics_mobilenetv2_0.7x_RGB_16_best.pth
pretrained/pretrained_mobilenet3D_v2/kinetics_mobilenetv2_0.45x_RGB_16_best.pth
pretrained/pretrained_mobilenet3D_v2/kinetics_mobilenetv2_1.0x_RGB_16_best.pth
pretrained/pretrained_resnet3D/resnet-18-kinetics.pth
pretrained/pretrained_resnet3D/resnet-34-kinetics.pth
pretrained/pretrained_resnet3D/resnet-50-kinetics.pth
pretrained/pretrained_resnet3D/resnet-101-kinetics.pth
pretrained/pretrained_resnet_i3d/i3d_baseline_32x2_IN_pretrain_400k.pkl
pretrained/pretrained_resnet_i3d/i3d_nonlocal_32x2_IN_pretrain_400k.pkl
pretrained/pretrained_resnet_i3d/i3d_r50_kinetics.pth
pretrained/pretrained_resnet_i3d/i3d_r50_kinetics.pth.keymap
pretrained/pretrained_resnet_i3d/i3d_r50_nl_kinetics.pth
pretrained/pretrained_resnet_i3d/i3d_r50_nl_kinetics.pth.keymap
pretrained/pretrained_resnext3D/kinetics_resnext_101_RGB_16_best.pth
pretrained/pretrained_shufflenet3D_v1/kinetics_shufflenet_0.5x_G3_RGB_16_best.pth
pretrained/pretrained_shufflenet3D_v1/kinetics_shufflenet_1.0x_G3_RGB_16_best.pth
pretrained/pretrained_shufflenet3D_v1/kinetics_shufflenet_1.5x_G3_RGB_16_best.pth
pretrained/pretrained_shufflenet3D_v1/kinetics_shufflenet_2.0x_G3_RGB_16_best.pth
pretrained/pretrained_shufflenet3D_v2/kinetics_shufflenetv2_0.25x_RGB_16_best.pth
pretrained/pretrained_shufflenet3D_v2/kinetics_shufflenetv2_1.0x_RGB_16_best.pth
pretrained/pretrained_shufflenet3D_v2/kinetics_shufflenetv2_1.5x_RGB_16_best.pth
pretrained/pretrained_shufflenet3D_v2/kinetics_shufflenetv2_2.0x_RGB_16_best.pth
pretrained/pretrained_squeezenet3D/kinetics_squeezenet_RGB_16_best.pth
output
pretrained/pretrained_i3d/flow_charades.pt
pretrained/pretrained_i3d/rgb_charades.pt
pretrained/pretrained_i3d/flow_imagenet.pt
pretrained/pretrained_i3d/rgb_imagenet.pt
